body {
  margin: 0 0;
  font-size: 18px;
  font-family: 'Montserrat','Arial', sans-serif;
}
/*--Universal Styling--*/
h1,
h2,
h3 {
  color:  #4a4a4a;
  letter-spacing: 1.5px;
}

h1  {
  font-size: 2rem;
  font-weight: 700;
}
h2 {
  font-size: 1.75rem;
  font-weight: 700;
}
h3 {
  font-weight: 500;
  font-size: 1.25rem;
}
p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.25rem;
  margin: 1rem 0;

}
.main {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}
.container {
  display: flex;
  border: blue solid 1px;
}
.feature {
  width: 60%;
  margin: 1.5rem;
  display: flex;
  flex-flow: column;
}
.feature img,
.feature video {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.subfeature {
  width: 423px;
  display: flex;
  flex-flow: column;
}

.box {
  display: flex;
  border: gray solid 1px;
}
.box:hover {
  background-color: #d8d8d8;
}

.box img {
  width: 35%;
  height: 100%;
  padding: 0.5rem;
}

.textContent {
  padding: 1rem;
}
.textContent h2{
  text-align: left;
}
.textContent h3 {
  margin-top: 1rem;
}
.sectionHeader {
  text-align: center;
  padding: 2rem;
}

/*--Header Navigation--*/
#NavMenu {
  height: 4rem;
}
.menu {
  width:100%;
  margin: 1.5rem;
  display: flex;
  justify-content: space-between;
}

#LogoHome {
  display: flex;
  align-items: center;
}
#LogoHome span{
  color: #d8d8d8;
  font-weight: 300;
}

#DesktopNav nav{
  display: flex;
}

#DesktopNav nav span{
  margin: 0 0.5rem;
}

#MobileNav {
  display: none;
}

/*--Main Banner--*/
#MainBanner {
  background-color: #d8d8d8;
}
#MainBanner .subfeature {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
#MainBanner .subfeature h1{
  line-height: 2.5rem;
  margin: 1rem;
}
#MainBanner .subfeature h3{
  margin: 1rem;
  line-height: 1.75rem;
}
#SignUp {
  background-color: #4a4a4a;
  color: white;
  text-align: center;
  width: 50%;
  padding: 0.5rem;
  margin: 1rem;
}

/*--On Campus Info--*/
#CampusInfo .readMore {
  color: #3399ff;
  font-size: 0.75rem;
}
#CampusInfo .quoteCaption{
  font-size: 0.75rem;
}
/*--Academy Courses--*/
#Learn {
  background-color: #d8d8d8;
  padding-bottom: 2rem;
}
.courses {
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}
.courseBox {
  background-color: white;
  width: 25%;
  margin: 0 1rem;
}
.courseBox img {
  width:100%;
}


/*--Thesis Exhibit--*/
#Thesis container {
  margin-bottom: 0.5rem;
}
/*--Footer--*/
footer {
  border-top: gray solid 1px;
  font-size: 0.75rem;
  color: #d8d8d8:
}
#CopyWrite {
  display: flex;
  justify-content: space-between;
}
#CopyWrite span{
  padding: 1.5rem;
  display: inline-block;
}
footer span:first-child{
  flex-grow: 2;

}
