body {
  margin: 0 0;
  font-size: 18px;
  font-family: 'Montserrat','Arial', sans-serif;
}
/*-------------------------
Universal Styling---------*/
h1,
h2,
h3 {
  color:  #4a4a4a;
  letter-spacing: 1.5px;
}

h1  {
  font-size: 2rem;
  font-weight: 700;
}
h2 {
  font-size: 1.75rem;
  font-weight: 700;
}
h3 {
  font-weight: 500;
  font-size: 1.25rem;
}
p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.25rem;
  margin: 1rem 0;

}
.main {
  max-width: 1200px;
  margin: 0 auto;
}
.container {
  display: flex;
  margin: 0 auto;
  /*border: blue solid 1px;*/
}
.feature {
  width: 60%;
  margin: 1rem 1.5rem;
  display: flex;
  flex-flow: column;
}
@media screen and (max-width:500px) {
  .feature {
    display: none;
  }
}

.feature img,
.feature video {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.subfeature {
  max-width: 423px;
  display: flex;
  flex-flow: column;
  margin: 0;
}

.box {
  display: flex;
}
.box:nth-child(2n+0){
  border-top: gray solid 1px;
  border-bottom: gray solid 1px;
}

@media screen and (max-width:500px) {
  .box:nth-child(2n+0) {
    border-style: none;
  }

}
.box:hover {
  background-color: #d8d8d8;
}

.box img {
  width: 35%;
  height: 100%;
  padding: 1rem;
}

.textContent {
  padding: 1rem;
}
.textContent h2{
  text-align: left;
}
.textContent h3 {
  margin-top: 1rem;
}
.sectionHeader {
  text-align: center;
  padding: 2rem;
}
@media screen and (max-width:500px) {
  .sectionHeader {
    padding: 2rem 0 1rem 0;
  }
}

/*-------------------------
Header Navigation----------*/
#NavMenu {
  height: 4rem;
}
.menu {
  width:100%;
  margin: 1.5rem;
}
#DesktopNav {
  display: flex;
  justify-content: space-between;
}

#LogoHome {
  display: flex;
  align-items: center;
}
#LogoHome span{
  color: #d8d8d8;
  font-weight: 300;
}
#DesktopNav nav{
  display: flex;
}
#DesktopNav nav span{
  margin: 0 0.5rem;
}

#MobileNav {
  display: none;
}
/*--Mobile Display for Navigation--*/
@media screen and (max-width:500px) {
    #DesktopNav {
      display: none;
    }
    #MobileNav {
      display: block;
    }
    #MobileNav nav{
      display: flex;
      justify-content: space-between;
    }
}

/*-------------------------
Main Banner----------------*/
#MainBanner {
  background-color: #d8d8d8;
  padding-bottom: 1rem;
}
#MainBanner .subfeature {
  justify-content: center;
}
#MainBanner .subfeature h1{
  line-height: 2.5rem;
  margin: 2rem 1rem;
}
#MainBanner .subfeature h3{
  line-height: 1.75rem;
  margin: 0rem 1rem 1.5rem 1rem;
}
#SignUp {
  background-color: #4a4a4a;
  color: white;
  text-align: center;
  width: 50%;
  padding: 0.5rem;
  margin: 1rem;
}

/*--Mobile Display for Banner--*/
@media screen and (max-width:500px){
  .MSpaceHolder{
    height: 11.25rem;
    background-color: #4a4a4a;
  }
  #SignUp {
    width:90%;
    padding:0.5rem 0;
    margin-bottom: 2rem;
  }
}

/*-------------------------
On Campus Info-------------*/
#CampusInfo .feature {
  padding-top: 1rem;
}
#CampusInfo .subfeature {
  padding-top: 1rem;
  border-left: gray solid 1px;
  border-right: gray solid 1px;
}
#CampusInfo .readMore {
  color: #3399ff;
  font-size: 0.75rem;
}
#CampusInfo .quoteCaption{
  font-size: 0.75rem;
}
.mobileImage {
  display: none;
}

/*--Mobile Display for Campus Info--*/
@media screen and (max-width:500px){
  .desktopImage {
    display: none;
  }
  .mobileImage {
    display: block;
  }
  #CampusInfo .subfeature{
    margin: 1rem auto;
    border-style: none;
  }
  #CampusInfo .box{
    display: flex;
    flex-flow: column;
    margin-bottom: 1rem;
  }
  .box img {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

}


/*-------------------------
Academy Courses------------*/
#Learn {
  background-color: #d8d8d8;
  padding-bottom: 1.5rem;
}
.courses {
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}
.courseBox {
  background-color: #ffffff;
  width: 25%;
  margin: 0 1rem 1rem 1rem;
}
.courseBox img {
  width:100%;
}
#MobileCourseNav {
  display: none;
}
/*--Mobile Display for Academy Courses--*/
@media screen and (max-width:500px){
  #Learn {
    background-color: #ffffff;
  }
  #Learn .courses{
    display: none;
  }
  #MobileCourseNav{
    display: block;
  }
  #MobileCourseNav nav{
    display: flex;
  }
  #MobileCourseNav ul{
    width: 90%;
    margin: 0 auto;
  }
  #MobileCourseNav li{
    display: block;
    background-color: #d8d8d8;
    text-align: center;
    color: #ffffff;
    padding: 1rem;
    margin: 0.5rem 0;
  }
}


/*-------------------------
Thesis Exhibit--*/
#Thesis .box {
  border-style: none;
}
#Thesis video{
  border: gray solid 1px;
}

/*--Mobile Thesis Exhibit--*/
@media screen and (max-width:500px) {
  #Thesis .feature {
      display: block;
      width: 100%;
      margin: 0 auto;
      padding: 1rem 0 1.5rem 0;
    }
  #Thesis .textContent,
  #Thesis .subfeature{
   display: none;
  }
}

/*-------------------------
Footer---------------------*/
footer {
  border-top: gray solid 1px;
  font-size: 0.75rem;
  color: #d8d8d8:
}
#CopyWrite {
  display: flex;
  justify-content: space-between;
}
#CopyWrite span{
  padding: 1.5rem;
  display: inline-block;
}
footer span:first-child{
  flex-grow: 2;
}
#MobileCopyWrite {
  display: none;
}
  /*--Mobile Footer--*/
@media screen and (max-width:500px) {
  #CopyWrite {
      display: none;
    }
  #MobileCopyWrite {
      display:block;
      padding: 1rem;
    }
}
